*{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

header{
    background-color: darkmagenta;
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #d43981;
    color: #fff;
    padding: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .listar-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
  }
  
  .produto {
    border: 1px solid #a6d2e9;
    padding: 1rem;
    width: 200px;
  }

.img{
  height: 50%;
  width: 59%;
}

.container{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 flex-wrap: wrap;
 width: 100%;
}

.img {
  width: 95%;
  height: auto;
  margin-top: 10%;
}

.container div{
  width: auto;
}

.container div p{
  width: auto;
}

li.slide.selected{
  height: auto;
}

.imgcar{
  display: flex;
  height: 500px;
  width: 270px;
}

  
  
  
