header{
    background-color: darkmagenta;
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.image-container {
    display: flex;
    gap: 1rem; /* Espaço entre as imagens */
    overflow-x: auto; /* Permite rolagem horizontal se as imagens transbordarem */
    padding: 1rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
    flex-shrink: 0; /* Impede o encolhimento das imagens */

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .listar-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .produto {
    border: 1px solid #ddd;
    padding: 1rem;
    width: 200px;
  }
  
  
